.grid {
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

.grid > article {
  height: 350px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.price span {
  text-decoration: line-through;
}
.price {
  font-weight: 700;
  font-size: 1.5rem;
}
.grid > article img {
  height: 100px;
  width: 200px;

  margin: 0 auto;
}

.grid .text {
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .grid > article {
    box-shadow: none;
    margin: 1rem;
  }
}
