.navbar {
  width: 100%;
  margin-top: 9rem;
  align-items: center;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.navbar h3 {
  color: #111;
  font-size: 25px;
  margin-left: 20px;
}

.white_btn {
  border: none;
  outline: none;
  margin: 1rem;
  padding: 12px 0;
  background-color: rgb(33, 201, 100);
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}
.white_btn:hover {
  background-color: rgb(200, 36, 36);
  color: rgb(255, 255, 255);
}
.white_btn:active {
  background-color: rgb(200, 36, 36);
  color: rgb(255, 255, 255);
}
